.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;



    & .container {
         
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: baseline;
            gap: 60px;
            text-align: center;
           
@media screen and (min-width:1200px) {
    text-align: start;
    justify-content: space-between  ;
}

        }
        
    &__list {
        display: flex;
        justify-content: start;
        gap: 10px;
    }
    &__link {
            font-size: 14px;
            line-height: 1.71;
            font-style: normal;
        }
    &__link.map {
        color: #ffffff;
        letter-spacing: 0.03em;
        text-decoration: none;
        display: inline-block;
        // margin-top: 20px;
        padding: 0px;
    }
    &__link.contact {
        color: rgba(255, 255, 255, 0.6);
        letter-spacing: 0.03em;
        text-decoration: none;
        display: inline-block;
        padding-top: 9px;
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
    }
    &__link.icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        fill: #ffffff;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__input {
        width: 100%;
        height: 50px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff;
        padding-left: 16px;
        margin-bottom: 20px;
    @media screen and (min-width:1200px) {
            width: 358px;
        }


    }
    &__bt {
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        background-color: var(--accent-text-color);
        color: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-color: transparent;
        padding-left: 29px;
        margin-left: 10px;
    }
    &__link.icon:hover,
    &__link.icon:focus {
            background-color: var(--accent-text-color);
        }
    // &__send {
    //     display: flex;
    //     align-items: flex-end;
    // }
    &__icon {
        margin-left: 10px;
        fill: #ffffff;
    }

   
}



.footer__online {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width:768px) and (max-width:1199.5px) {
        width: 450px;
    }
         @media screen and (min-width:1200px)  {
            justify-content: flex-start;
             width: 570px;
         }
}