.header {
  & .container {
    box-sizing: border-box;
    display: flex;

    align-items: center;
    margin: auto;
    width: 100%;

    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width:1200px) {
            width: 1200px;
        }
  }
  &__nav {
    display: flex;
    align-items: center;
    margin-left: 0px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__contact {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 50px;
      margin-left: auto;
      align-items: center;
    }
  }

  &__button {
    display: flex;
    width: 40px;
    height: 40px;

    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @media screen and(min-width: 768px) {
      display: none;
    }
  }
  &__button svg:hover,
  &__button:focus svg {
    fill: #2196f3;
  }

  &__item .nav {
    color: var(--title-text-color);
    font-size: 14px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 25px;
    position: relative;
  }
  &__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    display: block;
    padding: 0;
    border: 0;
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .studio::after,
  .portfolio::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    bottom: 0;
    left: 0%;
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--accent-text-color);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-text-color);
  }

  &.portfolio-page {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
  }
}
