

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --box-sizing: 1200px;
}

.page {
    background: #ffffff;
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}





.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

